.divDetail{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 360px;
    height: 660px;
    margin-top: 5%;
    margin-left: 40.5%;
    background: rgb(2, 0, 110);
    border-radius: 10px;
    border: 1px solid black;
    color: white;
}

.divDiv{
    align-items: center;
    align-content: center;
}


.text{
    font-weight: lighter;
    font-size: 18px;
}

.img{
    margin-top: 15px;
    border: 1px solid rgb(0, 0, 0);
    height: 200px;
}