.divDetail{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Quicksand;
    width: 360px;
    height: 660px;
    margin-top: 7%;
    margin-left: 40.5%;
    background: rgb(209, 170, 111);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.92);
}

.divDiv{
    align-items: center;
    align-content: center;
}


.text{
    font-weight: lighter;
    font-size: 18px;
}

.img{
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 200px;
}