.divDiv{
    display: flex;
    flex-direction: row;
    align-content:center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    height: 60px;
    background: rgb(85, 71, 25);
    border-bottom: 1px solid black;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 20px;
}

.divSelect{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    padding: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.divTemps{
    display: grid;
    flex-direction: column;
}

.ulTemps{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: green;
    width: fit-content;
}