.divCard{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 360px;
    height: 425px;
    margin-top: 0%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,188,113,1) 0%, rgba(231,224,144,1) 0%, rgba(208,201,118,1) 50%, rgba(145,204,159,1) 100%, rgba(92,207,194,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    /*box-shadow:  -5px -4px 10px rgb(204,198,123), 5px 4px 10px rgb(155,214,169);*/
    border: 1px solid black;
}

.text{
    font-weight: bold;
    font-size: 18px;
}

.img{
    margin-top: 15px;
    border: 1px solid rgb(0, 0, 0);
    height: 200px;
}