.divCard{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 360px;
    height: 425px;
    margin-top: 0%;
    background: rgb(2, 0, 110);
    border-radius: 10px;
    border: 1px solid black;
}

.text{
    font-weight: lighter;
    color: white;
    font-size: 18px;
}

.img{
    margin-top: 15px;
    border: 1px solid rgb(0, 0, 0);
    height: 200px;
}

.link{
    text-decoration: none;
    color: rgb(0, 0, 0)
}