.divDetail{
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 350px;
    height: 925px;
    margin-top: 3%;
    padding: 0px;
    margin-left: 40.5%;
    background: rgb(85, 71, 25);
    border-radius: 10px;
    border: 1px solid black;
}

.divDetail div {
    margin-top: 0px;
}

.divDiv{
    align-items: center;
    align-content: center;
}


.text{
    font-weight: bold;
    font-size: 18px;
}


.imgPreview{
    height: 250px;
    border: 1px solid black;
}
