.divDetail{
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 350px;
    height: 925px;
    margin-top: 3%;
    padding: 0px;
    margin-left: 40.5%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,188,113,1) 0%, rgba(231,224,144,1) 0%, rgba(208,201,118,1) 50%, rgba(145,204,159,1) 100%, rgba(92,207,194,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    /*box-shadow:  -5px -4px 10px rgb(204,198,123), 5px 4px 10px rgb(155,214,169);*/
    border: 1px solid black;
}

.divDetail div {
    margin-top: 0px;
}

.divDiv{
    align-items: center;
    align-content: center;
}


.text{
    font-weight: bold;
    font-size: 18px;
}


.imgPreview{
    height: 250px;
    border: 1px solid black;
}