@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.divLand{
    display: flex;
    justify-content: center;    
}

.divDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 300px;
    height: 340px;
    margin-top: 16.2%;
    background: rgb(209, 170, 111);
    border-radius: 15px;
}

.linkButton {
    text-decoration: none; 
    color: inherit; 
}

